@model CoinTrust.ViewModels.AccountInfo

<h2>近五次登入</h2>
<table class="table">
    @if (Model.LoginHistory.Count >= 5)
    {
        for (int i = Model.LoginHistory.Count - 1; i >= Model.LoginHistory.Count - 5; i--)
        {
            if (Model.LoginHistory[i] == null) { break; }
        <tr>
            <td>@Model.LoginHistory[i].LoginAt</td>
            <td>@Model.LoginHistory[i].Ip</td>
            <td>@Model.LoginHistory[i].Locale</td>
        </tr>


        }
    }

</table>