@model CoinTrust.ViewModels.AccountInfo



@*非同步傳遞表單的機制*@
@using (Ajax.BeginForm(
    actionName: "changePhoneAuth",
    controllerName: "AccountInfo",
    ajaxOptions: new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "UsePhoneAuthenticator" }))
{
    @Html.AntiForgeryToken()
    
    <label id="UsePhoneAuthenticator">
        <a>使用手機認證</a>
        @if (Model.User.UsePhoneAuthenticator)
        {
            <input type="checkbox" data-toggle="toggle" checked />
        }
        else
        {
            <input type="checkbox" data-toggle="toggle" />
        }
    </label>
    <input type="submit" value="更改設定" />
}
