@model CoinTrust.ViewModels.AccountInfo
@{
    ViewBag.Title = "Info";
}

<h2>使用者資料</h2>

<h3>使用者帳號： @Model.User.AccountId</h3>
<h3>使用者電話： @Model.User.Phone</h3>

@Html.Partial("_PhoneAuthenticator", Model)
@Html.Partial("_LogonHistory",Model)


@section scripts
    {


}