@model CoinTrust.ViewModels.AccountInfo
@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>

@*@Model.User.AccountId*@

@*<table class="table">
    @foreach (var logonHistory in Model.LoginHistory)
    {
        <tr>
            <td>@logonHistory.LoginAt</td>
            <td>@logonHistory.Ip</td>
            <td>@logonHistory.Locale</td>
        </tr>
    }
</table>*@