@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CoinTrust</h1>
    <h2 class="h2">
        虛擬貨幣媒合交易平台
        Virtual currency trading platform
    </h2>
    <p class="lead">隨著網路的迅速蓬勃發展，也逐漸形成一個網路世界。
    而虛擬貨幣成為了目前人們最廣泛關注的焦點，
    及其區塊鏈技術以及分布式記帳方法也同樣引起了人們的關注。
    虛擬貨幣為存在於網路的虛擬型交易貨幣，也因為是虛擬的型態因此容易讓人們忽略虛擬貨幣的風險與安全問題。</p>
    <p><a href="/Account/SignUp" class="btn btn-primary btn-lg">加入我們 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>平台動機</h2>
        <p>
            防範詐騙，保障買賣雙方
        </p>
        <p><a class="btn btn-primary" href="/Home/About">關於我們 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>